<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Customer page</title>
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/page/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/page/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/page/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/page/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="static/page/lib/hover/hover.min.css" rel="stylesheet">

  <!-- Blog Stylesheet File -->
  <link href="static/page/css/blog.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/page/css/style.css" rel="stylesheet">
  <link href="static/page/css/style1.css" rel="stylesheet">

  <!-- Responsive css -->
  <link href="static/page/css/responsive.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="static/page/images/favicon.png">

</head>

<body style="background-color:#000; !important;">
<!--
    <nav id="main-nav-subpage" class="subpage-nav">
        <div class="row">
          <div class="container">
    
            <div class="logo">
              <a href="index.html"><img src="static/page/images/logo.png" alt="logo"></a>
            </div>
    
            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>
    
            <ul class="nav-menu list-unstyled">
              <li><a href="#service" class="smoothScroll">Best fit homes</a></li>
               <li><a href="#status" class="smoothScroll">Status</a></li>
              <li><a href="#history" class="smoothScroll">Statistics</a></li>
              <li><a class="dropdown-item" href="#">Log Out</a></li>
      
           
            </ul>
          </div>
        </div>
      </nav>
    -->
      <div class="jumbotron jumbotron-fluid" style="background-color: #000; color:#fff;">
            <div class="container">
              <center><h1 class="display-4" >HOUSE IT!</h1></center>
              <center><p class="display-5">Find your ideal home</p></center>
            </div>
          </div>

          <div class="container-fluid" id="service" style="position:absolute; left:35vw; top: 30vh;">
                <form action="/customer1.html" method="post">
                 
                  <div class="col-sm-1 col-md-1 col-lg-3 mb-4">
        
                    <div class="select-wrap">
                      <span class="icon icon-arrow_drop_down">Number of Men</span>
                      <input class="form-control" type="number" name="males">
                    </div>
                  
                              <div class="select-wrap">
                      <span class="icon icon-arrow_drop_down">Number of Women</span>
                      <input class="form-control" type="number"  name="females">
                    </div>
                  
                  
                    <div class="select-wrap">
                      <span class="icon icon-arrow_drop_down">Number of children</span>
                      <input class="form-control" type="number" name="children">
                    </div>
                  
                  
                    <div class="select-wrap">
                      <span class="icon icon-arrow_drop_down">Number of Bed rooms</span>
                      <select name="bd" id="offer-types" class="form-control d-block rounded-0">
                            <option value="0">----------------</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                      </select>
                    </div>
                      <div class="select-wrap">
                          <span class="icon icon-arrow_drop_down">Minimum</span>
                          <select name="min" id="offer-types" class="form-control d-block rounded-0">
                                <option value="0">----------------</option>
                            <option value="1000000">1000000</option>
                            <option value="2000000">2000000</option>
                            <option value="3000000">3000000</option>
                            <option value="4000000">4000000</option>
                            <option value="5000000">5000000</option>
                            <option value="6000000">6000000</option>
                          </select>
                        </div>
                        <div class="select-wrap">
                            <span class="icon icon-arrow_drop_down">Maximum</span>
                            <select name="max" id="offer-types" class="form-control d-block rounded-0">
                                  <option value="0">----------------</option>
                              <option value="2000000">2000000</option>
                              <option value="3000000">3000000</option>
                              <option value="6000000">6000000</option>
                              <option value="7000000">7000000</option>
                              <option value="8000000">8000000</option>
                              <option value="9000000">9000000</option>
                            </select>
                          </div>
                  
                  
                    <div class="select-wrap">
                      <span class="icon icon-arrow_drop_down">preffered Area</span>
                      <select name="area" id="offer-types" class="form-control d-block rounded-0" >
                            <option value="0">----------------</option>
                        <option value="Adyar">Adyar</option>
                        <option value="Anna Nagar">Anna Nagar</option>
                        <option value="Chrompet">Chrompet</option>
                        <option value="Karapakkam">Karapakkam</option>
                        <option value="KK Nagar">KK Nagar</option>
                        <option value="T Nagar">T Nagar</option>
                        <option value="Velachery">Velachery</option>
                      </select>
                    </div>
                  
                  
                    <div class="select-wrap">
                      <span class="icon icon-arrow_drop_down">Parking</span>
                      <select name="park" id="offer-types" class="form-control d-block rounded-0" >
                            <option value="0">-----------------</option>
                      <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                
                    </div>
                  <br>
                  <!--<div class="col-sm-6 col-md-4 col-lg-3 mb-5" ><center>-->
                   
                  <!--</div>-->
                 </div>
                 <input type="submit" onclick="check()" class="btn btn-primary" value="Search">
                </form>
                
                
                <br /><br />
               
          
                     <script>
                            function check(){
                            name1=document.getElementsByName("males")[0].value;
                            name2=document.getElementsByName("females")[0].value;
                            name3=document.getElementsByName("children")[0].value;
                            name4=document.getElementsByName("bd")[0].value;
                            name5=document.getElementsByName("area")[0].value;
                            name5=document.getElementsByName("park")[0].value;
                            name6=document.getElementsByName("min")[0].value;
                            name7=document.getElementsByName("max")[0].value;
                            alert(name1+name2+name3+name4+name5);
                          }
                            </script>

<script>
  function check(){
  name1=document.getElementsByName("male")[0].value;
  name2=document.getElementsByName("females")[0].value;
  name3=document.getElementsByName("offer-types2")[0].value;
  name4=document.getElementsByName("offer-types")[0].value;
  name5=document.getElementsByName("App")[0].value;
  alert(name1+name2+name3+name4+name5);
}
  </script>














      


  <!-- End section footer -->

  <!-- JavaScript Libraries -->
  <script src="static/page/lib/jquery/jquery.min.js"></script>
  <script src="static/page/static/page/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/page/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/page/lib/typed/typed.js"></script>
  <script src="static/page/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/page/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="static/page/lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="static/page/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="static/page/js/main.js"></script>

</body>

</html>
