<html>
    <head> 
        <title> Customer Page</title>
          <!-- meta -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Customer page</title>
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/page/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/page/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/page/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/page/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="static/page/lib/hover/hover.min.css" rel="stylesheet">

  <!-- Blog Stylesheet File -->
  <link href="static/page/css/blog.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/page/css/style.css" rel="stylesheet">
  <link href="static/page/css/style1.css" rel="stylesheet">

  <!-- Responsive css -->
  <link href="static/page/css/responsive.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="static/page/images/favicon.png">
    </head>
    <body>
        
            <div class="card border-dark mb-3" style="max-width: 18rem;">  
                    <div class="card-header">Company Name</div>   
                    <div class="card-body text-dark">
                       <h5 class="card-title">Service</h5>     
                       <p class="card-text">rate and Dependency</p>    
                       <centre> <button type="button" class="btn btn-secondary">Secondary</button></centre>   
                    </div> 
                   </div> 
                 </div>
      

    </body>
    <script src="static/page/lib/jquery/jquery.min.js"></script>
  <script src="static/page/static/page/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/page/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/page/lib/typed/typed.js"></script>
  <script src="static/page/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/page/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="static/page/lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="static/page/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="static/page/js/main.js"></script>
</html>