<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
 <meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />

  <title>HOUSE IT!</title>
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/land/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/land/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/land/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/land/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="static/land/lib/hover/hover.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/land/css/style.css" rel="stylesheet">

  <!-- Responsive css -->
  <link href="static/land/css/responsive.css" rel="stylesheet">






</head>

<body>


  <!-- start section header -->
  <div id="header" class="home" >

         

      <div class="header-content" style="position:absolute; left: 2vw;">
        <h1 align="center" class="fix" style="position:absolute; left: 41vw;!important">HOUSE IT!</h1>
          <h2 align="center" class="fix" style="color:white; position:absolute; top: 4vw; left: 38vw;!important">Live your dream.</h2>
        <div style="position:absolute; left: 2vw; top: 30vw;">
          <h1><span class="typed" style="color:red"></span></h1>

       <br/>
        <p style="font-size: 25px; color:#fff">|Houses for sale|<br/>|Houses for rent|</p>
       <a class="btn btn-primary" href="customer.html" role="button" style="width: 95%;">Tap to find</a>
       </div>
         
      </div>
    
  </div>



  <!-- End section header -->


  <!-- JavaScript Libraries -->
  <script src="static/land/lib/jquery/jquery.min.js"></script>
  <script src="static/land/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/land/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/land/lib/typed/typed.js"></script>
  <script src="static/land/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/land/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="static/land/lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="static/land/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="static/land/js/main.js"></script>

</body>

</html>
