<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Company page</title>
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/page/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/page/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/page/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/page/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="static/page/lib/hover/hover.min.css" rel="stylesheet">

  <!-- Blog Stylesheet File -->
  <link href="static/page/css/blog.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/page/css/style.css" rel="stylesheet">
  <link href="static/page/css/style1.css" rel="stylesheet">

  <!-- Responsive css -->
  <link href="static/page/css/responsive.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="static/page/images/favicon.png">

  <!-- =======================================================
    Theme Name: Folio
    Theme URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>

  <!-- start section navbar -->
  <nav id="main-nav-subpage" class="subpage-nav">
    <div class="row">
      <div class="container">

        <div class="logo">
          <a href="index.html"><img src="static/page/images/logo.png" alt="logo"></a>
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
          <li><a href="#service" class="smoothScroll">YOur Predictions</a></li>
           <li><a href="#table" class="smoothScroll">List</a></li>
          <li><a href="#history" class="smoothScroll" >History</a></li>
         <li><a class="dropdown-item" href="/customer.html">Front</a></li>
  
  
    
       
        </ul>
      </div>
    </div>
  </nav>
  <!-- End section navbar -->
  <div class="jumbotron jumbotron-fluid" style="background-color:black;color:aliceblue;">
  <div class="container">
    <center><h1 class="display-4"  >Find your Match here for {{n}}</h1></center>
    <center><p class="lead">See the clients Requirement and Quote your price! </p></center>
  </div>
</div>


<table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Int_SQFT</th>
            <th scope="col">Parking</th>
            <th scope="col">Estimate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{x}}</td>
            <td>yes</td>
            <td>{{y}}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>{{x}}</td>
            <td>yes</td>
            <td>{{y}}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>{{x}}</td>
            <td>yes</td>
            <td>{{y}}</td>
          </tr>
          <tr>
                <th scope="row">4</th>
                <td>{{x}}</td>
                <td>yes</td>
                <td>{{y}}</td>
              </tr>
              <tr>
                    <th scope="row">5</th>
                    <td>{{x}}</td>
                    <td>yes</td>
                    <td>{{y}}</td>
                  </tr>
                  <tr>
                        <th scope="row">6</th>
                        <td>{{x}}</td>
                        <td>yes</td>
                        <td>{{y}}</td>
                      </tr>
                      <tr>
                            <th scope="row">7</th>
                            <td>{{x}}</td>
                            <td>yes</td>
                            <td>{{y}}</td>
                          </tr>
                          <tr>
                                <th scope="row">8</th>
                                <td>{{x}}</td>
                                <td>yes</td>
                                <td>{{y}}</td>
                              </tr>
        </tbody>
      </table>










      


  <!-- End section footer -->

  <!-- JavaScript Libraries -->
  <script src="static/page/lib/jquery/jquery.min.js"></script>
  <script src="static/page/static/page/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/page/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/page/lib/typed/typed.js"></script>
  <script src="static/page/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/page/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="static/page/lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="static/page/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="static/page/js/main.js"></script>

</body>

</html>
